files:
  "/etc/httpd/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      RewriteEngine on
      RewriteCond ${HTTP:Upgrade} websocket [NC]
      RewriteCond ${HTTP:Connection} upgrade [NC]
      RewriteRule .* "wss:/localhost:3000/$1" [P,L]

      ProxyPass /ws/ http://localhost:5000/ws/
      ProxyPassReverse /ws/ http://localhost:5000/ws/
      ProxyRequests Off